.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 1rem 1rem 1rem 2rem;
    font-weight: 400;
    color: #db469f;
}
.nav__logo {
    font-size: 2rem;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;

    &:not(:last-child) {
        margin-right: 5rem;
    }

    &:hover {
        color: gray;
    }
}
